@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; 
  background: var(--BACKGROUND, #F8F8F8);
}
body{
  margin: 0;
  padding: 0;
}
main{
  margin: 0;
  padding: 0;
}

header {
  position: relative;
}

.img {
  position: relative;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  max-width: 50%;
}

.floater {
  padding: 2rem 2rem;
  background-color: rgba(160, 161, 160, 0.355);
  width: 50%;
}

.container {
  position: relative;
}

.signin {
  position: absolute;
  top: 13rem;
  left: 50rem;
}

.signin h1 {
  color: var(--Buttion-color, #3637ee);
  margin-left: 6rem;
  margin-top: -5rem;
}

.signin h2 {
  color: #000;
  margin-left: 6.7rem;
  font-size: 1.2rem;
  margin-left: 6rem;
  margin-top: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; 
}

.google{
  background-color: #fff;
  display: flex;
  padding:.5rem 5rem;
  margin-left:-2rem;
  margin-top:.5rem;
  border-radius:.5rem;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.17), 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
}


.google p{
  margin-left:1rem;
} 
.former{
  margin-top:1rem;
  font-size:.7rem;
  text-align:center;
}

.link{
  color:var(--Buttion-color, #3637EE);
  text-decoration:underline;
}

.company {
  position: absolute;
  top: 7rem;
  left: 50rem;
}

.company h1{
  color: var(--Buttion-color, #3637ee);
}

.company h2{
  color: #000;
  margin-left: 6.7rem;
  font-size: 1.5rem;
  margin-left: -2rem;
  margin-top: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; 
}

form{
  max-width: 50%;
  box-sizing: border-box;
  margin-left: 41rem;
  margin-top: -32rem;
  padding: 3rem;
}

input{
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 2rem;
  outline: none;
  background-color:#ededed;
}

input[type="submit"]{
  background-color:var(--Buttion-color, #3637EE) ;
}

input[type="search"]{
  width:40%;
}

input[type="search"]::placeholder{
  margin-left: 3rem;
}

.main-image{
  position: absolute;
  left: 57em;
  top: 1.6rem;
  transform: translateY(-5%);
}

.shifter{
  position:absolute;
  right:2rem;
  top:1.5rem;
}

.button{
  padding: .6rem 3rem;
  position: absolute;
  left: 68rem;
  top: 1.2rem;
  color:var(--Buttion-color, #3637EE) ;
  border: 1px solid #3637EE;
  box-shadow: inset -3px -3px 3px rgb(216, 216, 216);
  border-radius: .5rem;
  color:#dfdddd;
}

.user-details{
  background-color: #ededed;
  padding: .3rem 1rem;
  width: 15%;
  border-radius: 1rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.profiler{
  margin-top:.2rem;
  border-radius:50%;
  float: left;
  margin-left: -.5rem;
  margin-right: .5rem;
}

.userName{
  font-size: .7rem; 
}

.userEmail{
  font-size: .6rem;
}

.movement{
  margin-bottom:2rem;
}
.sider{
  width:10%;
  margin-top:.1rem;
  padding: 3rem 1rem;
  float:left;
}

.blacker{
  width:90%;
  margin-left:8rem;
}

.lower{
  margin-top:1rem;
  padding: 1em;
}

.first{
  padding:.5rem 1rem;
  border-radius:.5rem;
  background-color:#3637ee;
  color:white;
  margin-left:1rem;
  margin-right:1rem;
}

.second{
  padding:.5rem 1rem;
  border-radius:.5rem;
  background-color:#ededed;
  color:black;
  margin-right:1rem;
}

.seer{
  margin-left:-12rem;
}

.third{
  padding:.5rem 1rem;
  border-radius:.5rem;
  background-color:#ededed;
  color:black;
}

.grid{
  display:flex;
  justify-content:space-between;
}

.mainProfile{
  padding: 5rem;
}

.mover{
  border-radius: 50%;
  margin-left: 14rem;
  margin-top: 3rem;
}

.userhandler{
  position: relative;
  padding: 2rem;
  height:50vh;
  width: 50%;
  background-color: white;
}

.camera {
  position: absolute;
  top: 7rem;
  width: 5%;
  left: 16rem;
}

.userhandler p{
  text-align: center;
}

.paragraph{
  margin-top:1rem;
}

.userEdit{
  margin-top: 5rem;
}

.profile-setting-p{
  color: gray;
  margin-top: -1.5rem;
  margin-left: -20rem;
}

.right-arrow{
  margin-left: 28rem;
  margin-top: -1.5rem;
}