@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; 
  background: var(--BACKGROUND, #F8F8F8);
}

body{
  margin: 0;
  padding: 0;
}

main{
  margin: 0;
  padding: 0;
}

header {
  position: relative;
}
.img {
  position: relative;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  max-width: 50%;
}

.floater {
  padding: 2rem 2rem;
  background-color: rgba(160, 161, 160, 0.355);
  width: 50%;
}

.container {
  position: relative;
}

.signin {
  position: absolute;
  top: 13rem;
  left: 50rem;
}

.signin h1 {
  color: var(--Buttion-color, #3637ee);
  margin-left: 6rem;
  margin-top: -5rem;
}

.company {
  position: absolute;
  top: 7rem;
  left: 50rem;
}

.company h1{
  color: var(--Buttion-color, #3637ee);
}

.company h2{
  color: #000;
  margin-left: 6.7rem;
  font-size: 1.5rem;
  margin-left: -2rem;
  margin-top: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; 
}

.signin h2 {
  color: #000;
  margin-left: 6.7rem;
  /* material-theme/display/small */
  font-size: 1.2rem;
  margin-left: 6rem;
  margin-top: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 122.222% */
}

.google{
    background-color: #fff;
    display: flex;
    padding:.5rem 5rem;
    margin-left:-2rem;
    margin-top:.5rem;
    border-radius:.5rem;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.17), 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
}

.google p{
    margin-left:1rem;
}

.facebook p{
    margin-left:1rem;
    color:#fff;
}
.facebook{
    background-color: #1877F2;;
    display: flex;
    padding:.5rem 5rem;
    margin-left:-2rem;
    margin-top:.5rem;
    border-radius:.5rem;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.17), 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
}

.former{
    margin-top:1rem;
    font-size:.7rem;
    text-align:center;
}

.link{
    color:var(--Buttion-color, #3637EE);
    text-decoration:underline;
}

form{
  max-width: 50%;
  box-sizing: border-box;
  margin-left: 41rem;
  margin-top: -32rem;
  padding: 3rem;
}

input{
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 2rem;
  outline: none;
  background-color:#ededed;
}

input[type="submit"]{
  background-color:var(--Buttion-color, #3637EE) ;
}

input[type="search"]{
  width:45%;
}

input[type="search"]::placeholder{
  margin-left: 3rem;
}

.main-image{
  position: absolute;
  left: 57em;
  top: 1.6rem;
  transform: translateY(-5%);
}

.shift{
  left:75rem;
  top: 1rem;
}

.button{
  padding: .6rem 3rem;
  position: absolute;
  left: 68rem;
  top: 1.2rem;
  color:var(--Buttion-color, #3637EE) ;
  border: 1px solid #3637EE;
  box-shadow: inset -3px -3px 3px rgb(216, 216, 216);
  border-radius: .5rem;
  color:#dfdddd;
}